#root {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.hide{
  visibility: hidden;
}

td div{ 
white-space: normal; 
word-break:break-all;
}

.loading-div{
  position: 'relative';
  left: '50%';
  top: '50%';
}